Lintupaivakirja1.0/kirjasto/lajikirjasto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="lajikirjasto">
	<xs:element name="laji" minOccurs="0" maxOccurs="unbounded">
	<xs:complexType>
	<xs:sequence>
		<xs:element name="nimi" type="xs:string"/>
		<xs:element name="latNimi" type="xs:string"/>
		<xs:element name="heimo" type="xs:string"/>
		<xs:element name="lahko" type="xs:string"/>
		<xs:element name="aanitiedosto" type="xs:string" minOccurs="0"/>
		<xs:element name="kuvat" type="xs:string" minOccurs="0" maxOccurs="5"/>
	</xs:sequence>
	</xs:complexType>
	</xs:element>
</xs:element>

</xs:schema>
